<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SEO Analysis Tool</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="app-container">
        <main class="main-content">
            <div class="container">
                <h1>SEO Analysis Tool</h1>
                <p class="subtitle">Optimize your website's SEO with our powerful analysis tool</p>
                <section class="input-section">
                    <div class="input-container">
                        <div class="input-wrapper">
                            <i class="fas fa-globe"></i>
                            <input type="text" id="url" placeholder="Enter URL to analyze" required>
                        </div>
                        <div class="input-wrapper">
                            <i class="fas fa-key"></i>
                            <input type="text" id="keyword" placeholder="Enter keyword" required>
                        </div>
                        <button id="analyze-btn"><i class="fas fa-search"></i> Analyze</button>
                    </div>
                </section>
                <section class="results-section">
                    <div id="results" class="results-container"></div>
                </section>
            </div>
        </main>
            <footer class="footer" style="background-color: #121212; color: #a0a0a0; text-align: center;">
                <p>Made by Sofian Bettayeb</p>
                <a href="https://sofianbettayeb.com" style="color: #a0a0a0; text-decoration: none;">sofianbettayeb.com</a>
            </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/utils.js" type="module"></script>
    <script src="/js/seoAnalysis.js" type="module"></script>
    <script src="/js/resultsDisplay.js" type="module"></script>
    <script src="/js/api.js" type="module"></script>
    <script src="/js/script.js" type="module"></script>
</body>
</html>
